
body 
{
    background-color:burlywood;
    color: #414B5E;
    margin: 40px;
    /*color: #87A4DE; */

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 
{
    text-align: center;
    color: #414B5E;
}

a {color:#414B5E; text-decoration: none;}

.projects {
    color: #414B5E;
    margin: 40px;
    
    /*color: #87A4DE; */

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color:burlywood;
}

.project
{
    background-color: rgb(204, 164, 113);
    border: rgb(154, 125, 87), 150px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.project img
{
    width: 800px;
    /*height: 300px;*/
    display: block;
    margin: auto;
    background-position: center;
    border: 150px;
    border-radius: 25px;

}

.project a
{
    :hover{color: cornflowerblue;}
    :active{color: blue;}
    :visited {color: blue;}
}
.project:hover {background-color:#B69D7A}


