/*Copyright Dringler*/
body 
{
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color:burlywood;
    color: #414B5E;
    /*color: #87A4DE; */

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.about
{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    justify-content: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.about img 
{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
}

.about p 
{
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.contact
{
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.contact a
{
    text-align: center;
    margin: auto;
    :active{color: blue;}
    :visited {color: blue;}
}

.contact a:hover{color: cornflowerblue;}

.contact p
{
    margin: auto;
}

h1 
{
    text-align: center;
    color: #414B5E;
}

h2{text-align: center;}

a 
{
    color:#414B5E; text-decoration: none;
    :hover{color: cornflowerblue;}
}

.sidenav 
{
    height: 100%;
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 0;  Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #414B5E; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

.sidenav a 
{
    text-align:left;
    padding-top: 45px;
    padding-bottom: 40px;
    text-decoration: none;
    font-size: 24px;
    color: burlywood;
    display: inline-block;
}  

.projects {
    color: #414B5E;
    margin: 40px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color:burlywood;
}

.project
{
    background-color: #C0A075;
    border: rgb(154, 125, 87), 150px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.project img
{
    width: 800px;
    /*height: 300px;*/
    display: block;
    margin: auto;
    background-position: center;
    border: 150px;
    border-radius: 25px;

}

.project a
{
    width: 60px;
    :active{color: blue;}
    :visited {color: blue;}
}
.project:hover {background-color:#988469}


